<form [formGroup]="FormBase" (ngSubmit)="onSubmit()">
  <nb-card>
    <nb-card-header>
      <span> {{ data.title }} ⚡️ </span>
      <small class="float-right" *ngIf="_id">
        <div class="alert alert-primary" role="code">
          ID: <strong nbPopover ngxToolCopy>{{ _id }}</strong>
          <small
            class="ml-2"
            nbTooltipPlacement="bottom"
            nbTooltip="COPIAR (ctrl+clic)"
            ><i class="far fa-question-circle"></i
          ></small>
        </div>
      </small>
    </nb-card-header>
    <nb-card-body>
      <div
        class="
            row"
        [formGroup]="formField('name')"
      >
        <div class="col-sm-6 input-group mb-2">
          <span class="input-group-addon"> <i class="fa fa-clone"></i> </span>
          <input
            type="text"
            name="first"
            formControlName="first"
            placeholder="Nombre(s)"
            class="form-control"
            ngxStatusControl
          />
        </div>
        <div class="col-sm-6 input-group mb-2">
          <span class="input-group-addon"> <i class="far fa-clone"></i> </span>
          <input
            type="text"
            name="last"
            formControlName="last"
            placeholder="Apellidos"
            class="form-control"
            ngxStatusControl
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 input-group">
          <span class="input-group-addon"> <i class="fa fa-phone"></i> </span>
          <input
            type="text"
            name="mobile_phone"
            ngxAccessPipe
            formControlName="mobile_phone"
            placeholder="Número de Celular"
            class="form-control"
            ngxStatusControl
          />
        </div>
        <div class="col-sm-6 input-group">
          <span class="input-group-addon">
            <i class="fa fa-envelope"></i>
          </span>
          <input
            type="text"
            name="email"
            formControlName="email"
            placeholder="Correo Electrónico"
            class="form-control"
            ngxStatusControl
          />
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button
        class="btn btn-hero-success float-right"
        type="submit"
        [class.btn-pulse]="submitted"
        [disabled]="FormBase.invalid"
      >
        ENVIAR
      </button>
    </nb-card-footer>
  </nb-card>
</form>
