<div class="row">
  <div class="col-lg-7">
    <nb-card>
      <nb-card-body>
        <pdf-viewer [src]="'assets/pdf/787-3087-1-PB.pdf'" [autoresize]="true" [render-text]="true" [original-size]="false"
          style="display: block;"></pdf-viewer>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-4">
    <nb-card>
      <nb-tabset fullWidth>
        <nb-tab tabTitle="Control de Versiones">
          <nb-list>
            <nb-list-item *ngFor="let c of lifetime" [class.active]="c.head">
              <nb-user [name]="c.user.name" [title]="c.role"> </nb-user>
              <div>
                <span class="badge badge-{{c.status}} mr-3">+</span>
                <span>{{ c.date | amTimeAgo }}</span>
              </div>
            </nb-list-item>
          </nb-list>
        </nb-tab>
      </nb-tabset>
      <nb-card class="obs">
        <div class="input-group">
          <textarea rows="5" nbInput fullWidth shape="semi-round" placeholder="Descripcion"></textarea>
        </div>
        <div class="my-3">
          <nb-radio-group class="my-4">
            <nb-radio>Observacion</nb-radio>
            <nb-radio>Valido</nb-radio>
          </nb-radio-group>
        </div>
        <button class="btn-demo" nbButton hero status="info">Enviar</button>
      </nb-card>
    </nb-card>
  </div>
</div>
