<div class="header-container" [class.left]="position === 'normal'" [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <div class="logo" (click)="goToHome()"> <img src="assets/images/sennova.png" /> </div>
  </div>
  <ngx-theme-switcher></ngx-theme-switcher>
</div>

<div class="header-container">
  <nb-actions size="medium" [class.right]="position === 'normal'" [class.left]="position === 'inverse'">
    <nb-action icon="nb-gear" class="toggle-layout" (click)="toggleSettings()"></nb-action>
    <nb-action *nbIsGranted="['view', 'user']">
      <nb-user [nbContextMenu]="userMenu" [name]="user?.fullName" [title]="user?.role | ngxCapitalize"></nb-user>
    </nb-action>
    <nb-action>
      <b [nbPopover]="tokenExpTime | amDateFormat:'lll'" nbPopoverPlacement="bottom" nbPopoverMode="hover">Token Exp.</b>
      <nb-badge text="+" [status]="tokenStatus | async" position="bottom left"></nb-badge>
    </nb-action>
    <nb-action class="control-item" disabled icon="nb-notifications"></nb-action>
    <nb-action class="control-item" [nbPopover]="aNotification" nbPopoverPlacement="bottom" icon="nb-email"></nb-action>
    <nb-action class="control-item">
      <nb-search type="rotate-layout" (click)="startSearch()"></nb-search>
    </nb-action>
  </nb-actions>
</div>

<ng-template #aNotification>
  <nb-card class="popover-card">
    <nb-card-header>
      <span>Plan de Acción</span>
      <div class="dropdown ghost-dropdown" ngbDropdown>
        <button type="button" class="btn btn-sm" ngbDropdownToggle [ngClass]="{ 'btn-success': currentTheme == 'default', 'btn-primary': currentTheme != 'default'}">
          {{ type }}
        </button>
        <ul ngbDropdownMenu class="dropdown-menu">
          <li class="dropdown-item" *ngFor="let t of types" (click)="getUserActivity(t); type = t">
            {{ t }}
          </li>
        </ul>
      </div>
    </nb-card-header>
    <nb-card-body>
      <ul class="user-activity-list">
        <li *ngFor="let item of userActivity">
          <div class="visited-date">
            <div class="title">{{ item.project_name }}</div>
            {{ item.date }}
          </div>
          <div class="visited-pages-count">
            <div class="title">Entregado / Estimado</div>
            <div class="value">{{ item.pagesVisitCount | amDateFormat:'LL' }} / {{ item.estimated | amDateFormat:'LL' }}</div>
          </div>
          <div class="visited-percentages">
            <div class="title">Estado</div>
            <div class="delta value">
              {{ item.newVisits > 50 ? 'A' : '-' }}
            </div>
          </div>
        </li>
      </ul>
    </nb-card-body>
  </nb-card>
</ng-template>
