@import './../../styles/themes.scss';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~@nebular/theme/styles/global/typography/typography';


/deep/ nb-card.popover-card {
  margin-bottom: 0;
  width: 500px;
  box-shadow: none;
}

/deep/ {

  nb-popover {
    max-height: 500px;
    overflow-y: scroll;
  }

  nb-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
  }

  nb-card-body {
    padding: 0;
  }

  .dropdown {
    min-width: 120px;
  }

  .user-activity-list {
    padding: 0;
    margin: 0;
  }

  .user-activity-list li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    color: nb-theme(color-fg);
    padding: 1rem;
    border-bottom:
      nb-theme(list-item-border-width) nb-theme(card-header-border-type) nb-theme(separator);

    &:first-child {
      // border-top: nb-theme(list-item-border-width) nb-theme(card-header-border-type) nb-theme(separator);
    }

    &:hover {
      background-color: nb-theme(layout-bg);

      &::before {
        position: absolute;
        content: '';
        height: 100%;
        width: 6px;
        left: 0;
        top: 0;
        background-color: nb-theme(color-success);
        border-radius: nb-theme(radius);
      }
    }
  }

  .visited-date,
  .value,
  .title {
    font-size: 1.25rem;
  }

  .visited-date {
    color: nb-theme(color-fg-heading);

    @include nb-for-theme(cosmic) {
      color: nb-theme(color-fg);
    }
  }

  .title {
    font-size: 1rem;
  }

  .value {
    margin-top: 0.5rem;
    color: nb-theme(color-success);
  }

  .delta {
    display: flex;
    align-items: center;
    position: relative;

    &::before {
      content: '';
      right: 100%;
      margin-right: 0.7rem;
      @include nb-rtl(margin-right, 0);
      @include nb-rtl(margin-left, 0.7rem);
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
    }

    &.down {
      color: text-danger();

      &::before {
        border-top: 6px solid text-danger();
      }
    }

    &.up {
      color: text-success();

      &::before {
        border-bottom: 6px solid text-success();
      }
    }
  }

  @include nb-for-theme(cosmic) {
    .user-activity-list li {
      &:hover {
        &::before {
          $color-top: nb-theme(btn-success-bg);
          $color-bottom: btn-hero-success-left-color();

          background-image: linear-gradient(to top, $color-top, $color-bottom);
          box-shadow: 0 0 16px -2px btn-hero-success-middle-color();
        }
      }
    }

    .delta {

      &.down,
      &.up {
        color: nb-theme(color-fg-heading);
      }
    }
  }

  @include nb-for-theme(corporate) {
    .user-activity-list li {
      border-color: nb-theme(tabs-separator);

      &:first-child {
        border-color: nb-theme(tabs-separator);
      }

      &:hover {
        &::before {
          background-color: nb-theme(color-primary);
        }
      }
    }

    .visited-pages-count {
      .value {
        color: nb-theme(color-fg-heading);
        font-size: 1rem;
      }
    }

    .delta {
      &.up {
        color: text-primary();

        &::before {
          border-bottom-color: text-primary();
        }
      }
    }
  }
}

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;

  img {
    max-width: 100%;
  }

  .left {
    display: flex;
    width: 100%;
    order: 0;
    flex-direction: row;
  }

  .right {
    order: 1;
    flex-direction: row-reverse;
  }

  .logo-containter {
    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
  }

  .control-item {
    display: block;
  }

  .header-container {
    display: flex;
    align-items: center;
    width: auto;

    .navigation {
      @include nb-ltr(padding-right, nb-theme(padding));
      @include nb-rtl(padding-left, nb-theme(padding));
      font-size: 2.5rem;
      text-decoration: none;

      i {
        display: block;
      }

    }

    .logo {
      padding: 0 nb-theme(padding);
      font-size: 1.75rem;
      font-weight: nb-theme(font-weight-bolder);
      @include nb-ltr(border-left, 1px solid nb-theme(separator));
      @include nb-rtl(border-right, 1px solid nb-theme(separator));
      white-space: nowrap;

      span {
        font-weight: nb-theme(font-weight-normal);
      }
    }
  }

  @include nb-for-theme(corporate) {
    $menu-action-separator-color: #3f4550;

    nb-action {
      @include nb-ltr(border-left-color, $menu-action-separator-color);
      @include nb-rtl(border-right-color, $menu-action-separator-color);
    }

    .header-container .logo {
      @include nb-ltr(border, none);
      @include nb-rtl(border, none);
    }

    .header-container /deep/ ngx-theme-switcher .dropdown-toggle {
      color: nb-theme(color-white);
      background: transparent;
    }
  }

  ngx-layout-direction-switcher {
    margin: 0 1.5rem;
  }

  ngx-theme-switcher {
    margin: nb-theme(layout-padding);
    margin-top: 0;
    margin-bottom: 0;
  }

  @include media-breakpoint-down(xl) {
    ngx-layout-direction-switcher {
      display: none;
    }
  }

  .toggle-layout /deep/ a {
    display: block;
    text-decoration: none;
    line-height: 1;

    i {
      color: nb-theme(color-fg-highlight);
      font-size: 2.25rem;
      border-radius: 50%;
      position: relative;
      animation-name: pulse-light;

      &::after {
        content: ' ';
        // hack to be able to set border-radius
        background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
        border-radius: 50%;
        pointer-events: none;

        position: absolute;
        top: 52.3%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 13%;
        height: 13%;

        animation: 3s linear infinite pulse;

        @include nb-for-theme(default) {
          animation-name: pulse-light;
        }
      }
    }
  }

  @include keyframes(pulse) {
    0% {
      box-shadow: 0 0 1px 0 rgba(nb-theme(color-fg-highlight), 0);
    }

    20% {
      box-shadow: 0 0 3px 10px rgba(nb-theme(color-fg-highlight), 0.4);
    }

    100% {
      box-shadow: 0 0 5px 20px rgba(nb-theme(color-fg-highlight), 0);
    }
  }

  @include keyframes(pulse-light) {
    0% {
      box-shadow: 0 0 1px 0 rgba(115, 255, 208, 0);
    }

    20% {
      box-shadow: 0 0 3px 10px rgba(115, 255, 208, 0.4);
    }

    100% {
      box-shadow: 0 0 5px 20px rgba(115, 255, 208, 0);
    }
  }

  @include media-breakpoint-down(md) {

    nb-action:not(.toggle-layout) {
      border: none;
    }

    .control-item {
      display: none;
    }

    .toggle-layout {
      padding: 0;
    }

    ngx-layout-direction-switcher {
      display: none;
    }

    ngx-theme-switcher {
      margin: 0 0.5rem;
    }
  }

  @include media-breakpoint-down(sm) {

    nb-user /deep/ .user-name {
      display: none;
    }
  }

  @include media-breakpoint-down(is) {

    .header-container {
      .logo {
        font-size: 1.25rem;
      }
    }

    .toggle-layout {
      display: none;
    }

    ngx-theme-switcher {
      display: none;
    }

    nb-action:not(.toggle-layout) {
      padding: 0;
    }
  }

  @include media-breakpoint-down(xs) {
    .right /deep/ {
      display: none;
    }
  }
}
